@import '../../styles/variable.scss';
.dashboard-container {
	width: 100%;
	height: 100%;
	background-color: yellow;
	.dashboard-content {
		min-height: 280px;
		padding: 24px;
		background: #fff;
	}
	#components-layout-demo-top .logo {
		float: left;
		width: 120px;
		height: 31px;
		margin: 16px 24px 16px 0;
		background: rgba(255, 255, 255, 0.3);
	}
	.ant-row-rtl #components-layout-demo-top .logo {
		float: right;
		margin: 16px 0 16px 24px;
	}
	.dashboard-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.right{
			display: flex;
			justify-content: center;
			.ant-avatar.ant-avatar-circle.ant-avatar-image{
				margin-left: 1rem ;
			}
		}
		.dashboard-header-lap{
			display: none;
			position: absolute;
			z-index: -5000;
			@include mq("lap"){
				display: block;
				position: relative;
				z-index: 2;
			}
		}
		.dashboard-header-phone{
			display: block;
			position: relative;
			z-index: 2;
			.header-icon{
				font-size: 3rem;
				color: white;
				cursor: pointer;
			}
			@include mq("lap"){
				display: none;
				position: absolute;
				z-index: -5000;
			}
		}
	}
}
