.post-commnent-wrapper{

    .post-commnent-list{
        max-height: 30rem;
        overflow: auto;
    }
    .post-commnent-input{
        display: flex;
    }
    .comment-name{
        color: black;
        font-weight: 500;
        cursor:default;
    }
}